---
import PortfolioLayout from '../layouts/PortfolioLayout.astro';
import Nav from '../components/Nav.astro';
---

<PortfolioLayout
  title="Not Found"
  description="Product Designer y Nocode-Lover"
  ogImage="/images/Moises-portada.webp"
  bodyClass="bg-base-black"
>
  <Nav />
  <div class="main-section-404">
    <div class="container-404">
      <div class="_404-wrapper">
        <div class="mega-text">404</div>
        <div class="wysiwyg not-found-text">Página no encontrada</div>
      </div>
    </div>
    <a data-w-id="1761e719-1b47-44c6-dff4-22996e7dc56d" href="/" class="cta base__white centered w-inline-block">
      <p class="wysiwyg cta-text dark__type">Volver a la web</p>
      <div class="cta-circle"></div>
    </a>
  </div>
</PortfolioLayout>
