---
import PortfolioLayout from '../layouts/PortfolioLayout.astro';
import Nav from '../components/Nav.astro';
import Footer from '../components/Footer.astro';
import BottomNav from '../components/BottomNav.astro';
---

<PortfolioLayout
  title="Estudio Arquó — escaparate digital de arquitectura | Moisés Salmán"
  description="Caso de estudio: escaparate digital para un estudio de arquitectura, con behavioral design orientado a incrementar la conversión."
  ogImage="/images/Moises-portada.webp"
  bodyClass="body"
>
  <Nav />
  <section class="hero_project">
    <div class="hero_project_contain">
      <h1 class="hero_project_heading heading text-colour-white fade-in">Estudio Arquó</h1>
      <div class="u-hflex-between-center fade-in hero_project_subtitle-cta">
        <div class="hero_project_tipology text-colour-white">Diseño y desarrollo web adaptado</div>
        <a data-w-id="94f27a2e-4400-60a5-89bb-b8e69cc3133e" href="https://estudioarquo.com/" target="_blank" class="cta base__white u-no-margin u-visible-mobile full-width w-inline-block">
          <p class="wysiwyg cta-text dark__type">Ver página web</p>
          <div class="cta-circle"></div>
        </a>
      </div>
      <div class="hero_project_info">
        <div class="hero_project_info_description text-colour-white">El estilo de Estudio Arquó se define porformas puras, luz serena, materialesnobles y una proporción atemporal.</div>
        <div class="u-hflex-between-top zig-mobile">
          <div class="hero-project_info-list">
            <div class="info-list_heading text-colour-white">Cliente</div>
            <div class="info-list_item text-colour-white">Estudio Arquó</div>
          </div>
          <div class="hero-project_info-list">
            <div class="info-list_heading text-colour-white">Servicios</div>
            <div class="info-list_item text-colour-white">Webflow Dev</div>
            <div class="info-list_item text-colour-white">UX &amp; UI Design</div>
            <div class="info-list_item text-colour-white">Behavioral Design</div>
            <div class="info-list_item text-colour-white">Visual Design</div>
          </div>
          <div class="hero-project_info-list">
            <div class="info-list_heading text-colour-white">Industria</div>
            <div class="info-list_item text-colour-white">Arquitectura</div>
            <div class="info-list_item text-colour-white">Interiorismo</div>
          </div>
          <div class="hero-project_info-list">
            <div class="info-list_heading text-colour-white">Fecha</div>
            <div class="info-list_item text-colour-white">Febrero 2025</div>
          </div>
        </div>
      </div>
    </div><img src="/images/home.avif" loading="lazy" sizes="100vw" srcset="/images/home-p-500.avif 500w, /images/home-p-800.avif 800w, /images/home-p-1080.avif 1080w, /images/home-p-1600.avif 1600w, /images/home.avif 2194w" alt="Estudio Arquó — imagen de portada del proyecto" class="hero_project_bg" />
  </section>
  <section class="desktop_description">
    <div class="description_text_objetive fade-in">
      <h2 class="description_text_objetive_heading">Arquitectura que trasciende: Un escaparate digital para hogares diseñados en calma</h2>
      <div class="u-hflex-between-top full_width">
        <div class="description_title"><img src="/images/diamond.svg" loading="lazy" alt="" class="description_title_image" />
          <div class="description_title_name">Objetivos</div>
        </div>
        <div class="description_wrapper">
          <div class="description_paragraph">El reto de este proyecto era trasladar la esencia física y tangible de Estudio Arquó —definida por formas puras, luz serena, materiales nobles y proporciones atemporales— al entorno digital. Buscábamos crear un sitio web que no solo funcionara como un portfolio exquisito, sino como el primer &quot;socio creativo&quot; con el que interactúa el usuario.</div>
          <div class="description_paragraph">Encontrar el equilibrio entre un impacto visual puramente estético y fotográfico, y a la vez diseñar un embudo de conversión optimizado para captar y cualificar clientes de alto valor adquisitivo (proyectos desde 300.000€ hasta más de 10.000.000€) era nuestro principal desafío.</div>
        </div>
      </div>
    </div>
    <div data-w-id="8efec8fe-c4ac-2809-0cd8-c5d2a4d5fce0" class="description_carousel">
      <div class="description_carousel_upperrow fade-in"><img src="/images/horizontal-1.avif" loading="lazy" sizes="100vw" srcset="/images/horizontal-1-p-500.avif 500w, /images/horizontal-1-p-800.avif 800w, /images/horizontal-1-p-1080.avif 1080w, /images/horizontal-1-p-1600.avif 1600w, /images/horizontal-1-p-2000.avif 2000w, /images/horizontal-1.avif 2816w" alt="Proyecto de arquitectura de Estudio Arquó" class="upper-row-image is1" /><img src="/images/home.avif" loading="lazy" sizes="100vw" srcset="/images/home-p-500.avif 500w, /images/home-p-800.avif 800w, /images/home-p-1080.avif 1080w, /images/home.avif 1408w" alt="Estudio Arquó — imagen de portada del proyecto" class="upper-row-image is2" /><img src="/images/visualelectric-1.avif" loading="lazy" sizes="100vw" srcset="/images/visualelectric-1-p-500.avif 500w, /images/visualelectric-1-p-800.avif 800w, /images/visualelectric-1-p-1080.avif 1080w, /images/visualelectric-1-p-1600.avif 1600w, /images/visualelectric-1-p-2000.avif 2000w, /images/visualelectric-1.avif 2816w" alt="Render de arquitectura de Estudio Arquó" class="upper-row-image is3" /><img src="/images/visualelectric-4.avif" loading="lazy" sizes="100vw" srcset="/images/visualelectric-4-p-500.avif 500w, /images/visualelectric-4-p-800.avif 800w, /images/visualelectric-4-p-1080.avif 1080w, /images/visualelectric-4-p-1600.avif 1600w, /images/visualelectric-4-p-2000.avif 2000w, /images/visualelectric-4.avif 2816w" alt="Render de arquitectura de Estudio Arquó" class="upper-row-image is4" /><img src="/images/image-30_1.avif" loading="lazy" sizes="(max-width: 767px) 100vw, 569px" srcset="/images/image-30_1image%2030.avif 500w, /images/image-30_1image%2030.avif 800w, /images/image-30_1image%2030.avif 1080w, /images/image-30_1.avif 2560w" alt="Proyecto de arquitectura de Estudio Arquó" class="upper-row-image is5" /></div>
      <div class="description_carousel_bottomrow"><img src="/images/casa-albor-1.webp" loading="lazy" sizes="100vw" srcset="/images/casa-albor-1-p-500.webp 500w, /images/casa-albor-1-p-800.webp 800w, /images/casa-albor-1-p-1080.webp 1080w, /images/casa-albor-1-p-1600.webp 1600w, /images/casa-albor-1-p-2000.webp 2000w, /images/casa-albor-1-p-2600.webp 2600w, /images/casa-albor-1-p-3200.webp 3200w, /images/casa-albor-1.webp 4224w" alt="Casa Albor, proyecto de Estudio Arquó" class="bottom-row-image is1" /><img src="/images/casa-albor-3.webp" loading="lazy" sizes="100vw" srcset="/images/casa-albor-3-p-500.webp 500w, /images/casa-albor-3-p-800.webp 800w, /images/casa-albor-3-p-1080.webp 1080w, /images/casa-albor-3-p-1600.webp 1600w, /images/casa-albor-3-p-2000.webp 2000w, /images/casa-albor-3-p-2600.webp 2600w, /images/casa-albor-3-p-3200.webp 3200w, /images/casa-albor-3.webp 4224w" alt="Casa Albor, proyecto de Estudio Arquó" class="upper-row-image-copy is2" /><img src="/images/casa-albor-7.webp" loading="lazy" sizes="100vw" srcset="/images/casa-albor-7-p-500.webp 500w, /images/casa-albor-7-p-800.webp 800w, /images/casa-albor-7-p-1080.webp 1080w, /images/casa-albor-7-p-1600.webp 1600w, /images/casa-albor-7-p-2000.webp 2000w, /images/casa-albor-7-p-2600.webp 2600w, /images/casa-albor-7-p-3200.webp 3200w, /images/casa-albor-7.webp 4224w" alt="Casa Albor, proyecto de Estudio Arquó" class="bottom-row-image is3" /><img src="/images/casa-albor-10.webp" loading="lazy" sizes="100vw" srcset="/images/casa-albor-10-p-500.webp 500w, /images/casa-albor-10-p-800.webp 800w, /images/casa-albor-10-p-1080.webp 1080w, /images/casa-albor-10-p-1600.webp 1600w, /images/casa-albor-10-p-2000.webp 2000w, /images/casa-albor-10-p-2600.webp 2600w, /images/casa-albor-10-p-3200.webp 3200w, /images/casa-albor-10.webp 4224w" alt="Casa Albor, proyecto de Estudio Arquó" class="bottom-row-image is4" /><img src="/images/la-encina-1.webp" loading="lazy" sizes="100vw" srcset="/images/la-encina-1-p-500.webp 500w, /images/la-encina-1-p-800.webp 800w, /images/la-encina-1-p-1080.webp 1080w, /images/la-encina-1-p-1600.webp 1600w, /images/la-encina-1-p-2000.webp 2000w, /images/la-encina-1-p-2600.webp 2600w, /images/la-encina-1-p-3200.webp 3200w, /images/la-encina-1.webp 4224w" alt="Proyecto La Encina de Estudio Arquó" class="upper-row-image is5" /></div>
    </div>
    <div class="description_text_solucion fade-in">
      <h2 class="description_text_objetive_heading">Atacando el proyecto</h2>
      <div class="u-hflex-between-top full_width">
        <div class="description_title"><img src="/images/diamond.svg" loading="lazy" alt="" class="description_title_image" />
          <div class="description_title_name">Soluciones</div>
        </div>
        <div class="description_wrapper">
          <div class="description_paragraph">Hemos realizado y afrontado el proyecto los siguienters steps</div>
          <div class="description_paragraph"><strong>1. Investigación y Definición de Objetivos: </strong>Para establecer una base sólida, nos sumergimos en la filosofía del estudio alicantino, comprendiendo su proceso de trabajo (desde el análisis del terreno hasta la puesta en escena) y perfilando a su cliente ideal.<br /><strong>2.Arquitectura de la Información y Flujo Cognitivo:</strong> La arquitectura fue clave para guiar al usuario desde la inspiración puramente visual hasta la toma de decisión, creando un flujo sin fricciones hacia un contacto cualificado.<br /><strong>3.Estructura Visual y Wireframing:</strong> Elaboramos esquemas que priorizaban el espacio negativo (aire), dando protagonismo absoluto a la fotografía de arquitectura y a una tipografía elegante y atemporal.<br /><strong>4.Diseño Visual y de Interfaz: </strong>Trabajamos con una paleta cromática neutra y cálida, evocando los materiales nobles y la estética mediterránea que caracterizan los proyectos de Arquó.<br /><strong>5.Behavioral Design: Incrementando la Conversión </strong>Diseñamos un formulario interactivo por pasos para reducir la carga cognitiva al solicitar presupuestos y detalles técnicos del proyecto.<br /><strong>6. Optimización de Usabilidad y Velocidad: </strong>Al ser una web con altísima carga fotográfica (renders y proyectos), aplicamos técnicas avanzadas de compresión y carga diferida (lazy load) para no penalizar el rendimiento.<br /><strong>7. Pruebas de Usabilidad y Optimización Continua: </strong>Testeamos el flujo del formulario de contacto para asegurar que los usuarios se sintieran cómodos compartiendo información sensible sobre su futura vivienda.<br /><strong>8. Iteración y Mejoras: </strong>Refinamos las micro-interacciones y el &quot;smooth scroll&quot; para aportar un toque premium y fluido a la navegación final.</div>
        </div>
      </div>
    </div>
    <div class="description-2columns">
      <div class="description_2columns_wrapper">
        <div class="description_text_solucion u-desktop-25vw">
          <div class="u-vflex-left-top fade-in">
            <div class="description_title u-pad-botm-1"><img src="/images/diamond.svg" loading="lazy" alt="" class="description_title_image" />
              <div class="description_title_name">Investigación y Definición de Objetivos</div>
            </div>
            <div class="description_wrapper">
              <div class="description_paragraph">Para establecer una base sólida, comenzamos analizando cómo los estudios de arquitectura de lujo comunican su valor. Definimos que la web debía transmitir la idea de &quot;acompañamiento&quot; y &quot;tranquilidad&quot;. </div>
              <div class="description_paragraph">Alineamos cada elemento de la página para reforzar este propósito: desde el <em>copywriting</em> cercano y experto, hasta la forma de presentar los 20 años de experiencia del equipo.</div>
            </div>
          </div>
        </div>
        <div class="description_image_solution u-desktop-50vw"><img src="/images/desktop.avif" loading="lazy" alt="Diseño de la web de Estudio Arquó" class="shadow--medium" /></div>
      </div>
    </div>
    <div class="description-2columns">
      <div class="description_2columns_wrapper">
        <div class="description_image_solution u-desktop-50vw"><img src="/images/desktop2.avif" loading="lazy" alt="Diseño de la web de Estudio Arquó" class="shadow--medium" /></div>
        <div class="description_text_solucion u-desktop-25vw">
          <div class="u-vflex-left-top fade-in">
            <div class="description_title u-pad-botm-1"><img src="/images/diamond.svg" loading="lazy" alt="" class="description_title_image" />
              <div class="description_title_name">Arquitectura de la Información y Flujo Cognitivo</div>
            </div>
            <div class="description_wrapper">
              <div class="description_paragraph">La arquitectura de la información fue diseñada para contar una historia de forma lógica. Comenzamos con una propuesta de valor fuerte (&quot;Hogares diseñados para vivir en calma&quot;), mostramos los proyectos destacados para generar impacto (Casa Lume,<br /><br /> La Encina, etc.), y luego explicamos la metodología en 7 fases claras. Con esto, guiamos al usuario a través de una secuencia natural que fortalece su confianza antes de llegar al gran CTA final: construir su proyecto juntos.</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div data-w-id="b4dff865-1127-41f6-f380-346867ec2a6a" class="description_2image"><img src="/images/desktop3.avif" loading="lazy" data-w-id="96eb5176-a2ea-06e6-63c6-6047ecd0225c" sizes="(max-width: 767px) 100vw, 629px" alt="Diseño de la web de Estudio Arquó" srcset="/images/desktop3-p-500.avif 500w, /images/desktop3-p-800.avif 800w, /images/desktop3-p-1080.avif 1080w, /images/desktop3.avif 1310w" class="description_image is1 shadow--medium" /><img src="/images/desktop4.avif" loading="lazy" alt="Diseño de la web de Estudio Arquó" class="description_image is2 shadow--medium" /></div>
    <section data-w-id="38e500b2-9991-8d38-97e5-dc7a07af6579" class="description-zoom-transition">
      <div class="sticky-container">
        <div id="w-node-_38e500b2-9991-8d38-97e5-dc7a07af657b-f189f622" class="w-layout-layout quick-stack wf-layout-layout">
          <div id="w-node-_38e500b2-9991-8d38-97e5-dc7a07af657c-f189f622" class="w-layout-cell"></div>
          <div class="w-layout-cell"></div>
          <div id="w-node-_38e500b2-9991-8d38-97e5-dc7a07af657d-f189f622" class="w-layout-cell cell-2"><img sizes="100vw" srcset="/images/visualelectric-3-p-500.avif 500w, /images/visualelectric-3-p-800.avif 800w, /images/visualelectric-3-p-1080.avif 1080w, /images/visualelectric-3-p-1600.avif 1600w, /images/visualelectric-3-p-2000.avif 2000w, /images/visualelectric-3-p-2600.avif 2600w, /images/visualelectric-3.avif 2816w" alt="Render de arquitectura de Estudio Arquó" src="/images/visualelectric-3.avif" loading="lazy" class="fading-image" /></div>
          <div class="w-layout-cell"></div>
          <div id="w-node-_38e500b2-9991-8d38-97e5-dc7a07af657f-f189f622" class="w-layout-cell cell"><img sizes="100vw" srcset="/images/visualelectric-3_1-p-500.avif 500w, /images/visualelectric-3_1-p-800.avif 800w, /images/visualelectric-3_1-p-1080.avif 1080w, /images/visualelectric-3_1-p-1600.avif 1600w, /images/visualelectric-3_1-p-2000.avif 2000w, /images/visualelectric-3_1-p-2600.avif 2600w, /images/visualelectric-3_1.avif 2816w" alt="Render de arquitectura de Estudio Arquó" src="/images/visualelectric-3_1.avif" loading="lazy" class="fading-image half" /></div>
          <div id="w-node-_38e500b2-9991-8d38-97e5-dc7a07af6581-f189f622" class="w-layout-cell cell-3">
            <div class="main-image-wrapper"><img sizes="100vw" srcset="/images/visualelectric-4_1-p-500.avif 500w, /images/visualelectric-4_1-p-800.avif 800w, /images/visualelectric-4_1-p-1080.avif 1080w, /images/visualelectric-4_1-p-1600.avif 1600w, /images/visualelectric-4_1-p-2000.avif 2000w, /images/visualelectric-4_1-p-2600.avif 2600w, /images/visualelectric-4_1.avif 2816w" alt="Render de arquitectura de Estudio Arquó" src="/images/visualelectric-4_1.avif" loading="eager" class="main-image" /></div>
          </div>
          <div id="w-node-_38e500b2-9991-8d38-97e5-dc7a07af6584-f189f622" class="w-layout-cell"><img sizes="100vw" srcset="/images/la-maison-des-lavandes-12-p-500.avif 500w, /images/la-maison-des-lavandes-12-p-800.avif 800w, /images/la-maison-des-lavandes-12-p-1080.avif 1080w, /images/la-maison-des-lavandes-12-p-1600.avif 1600w, /images/la-maison-des-lavandes-12-p-2000.avif 2000w, /images/la-maison-des-lavandes-12.avif 2816w" alt="Proyecto La Maison des Lavandes de Estudio Arquó" src="/images/la-maison-des-lavandes-12.avif" loading="lazy" class="fading-image" /></div>
          <div id="w-node-_38e500b2-9991-8d38-97e5-dc7a07af6586-f189f622" class="w-layout-cell"></div>
          <div class="w-layout-cell"><img sizes="100vw" srcset="/images/la-maison-des-lavandes-9-p-500.avif 500w, /images/la-maison-des-lavandes-9-p-800.avif 800w, /images/la-maison-des-lavandes-9-p-1080.avif 1080w, /images/la-maison-des-lavandes-9-p-1600.avif 1600w, /images/la-maison-des-lavandes-9-p-2000.avif 2000w, /images/la-maison-des-lavandes-9.avif 2816w" alt="Proyecto La Maison des Lavandes de Estudio Arquó" src="/images/la-maison-des-lavandes-9.avif" loading="lazy" class="fading-image" /></div>
          <div id="w-node-_38e500b2-9991-8d38-97e5-dc7a07af6588-f189f622" class="w-layout-cell"></div>
        </div>
      </div>
    </section>
    <div class="transition_responsive"><img src="/images/visualelectric-1729791413747_1.avif" loading="lazy" sizes="100vw" srcset="/images/visualelectric-1729791413747_1visualelectric-1729791413747.avif 500w, /images/visualelectric-1729791413747_1visualelectric-1729791413747.avif 800w, /images/visualelectric-1729791413747_1visualelectric-1729791413747.avif 1080w, /images/visualelectric-1729791413747_1.avif 2560w" alt="" class="transition_responsive_image" /></div>
  </section>
  <div class="mobile_description">
    <div class="description_text_objetive fade-in">
      <h2 class="description_text_objetive_heading">Behavioral Design: Incrementando la Conversión</h2>
      <div class="u-hflex-between-top full_width">
        <div class="description_title"><img src="/images/diamond-white.svg" loading="lazy" alt="" class="description_title_image" />
          <div class="description_title_name">Diseño</div>
        </div>
        <div class="description_wrapper">
          <div class="description_paragraph">Aplicando principios de behavioral design al sector del alto standing, añadimos elementos como:<br />-Reducción de Fricción (Formulario Multi-step): En lugar de un formulario largo y aburrido, creamos una experiencia interactiva en 3 pasos (Datos, Detalles del proyecto y Localización/Presupuesto). Esto aumenta drásticamente la tasa de finalización apelando al compromiso gradual.<br />-Prueba social y Autoridad: Inclusión estratégica de métricas clave de forma muy visual (50 construcciones terminadas, 99% de cumplimiento en plazos, 10/10 en satisfacción) junto con testimonios reales para cimentar la confianza.<br />-Efecto Halo: Utilizar un diseño inmaculado y minimalista transfiere subconscientemente al usuario la idea de que la ejecución arquitectónica del estudio será igual de limpia, perfeccionista y detallista.</div>
        </div>
      </div>
    </div>
    <div data-w-id="7e4134f3-aada-56d5-587b-d53583cb04fb" class="mobile_show_images"><img src="/images/villa_mare-1-2.avif" loading="eager" sizes="(max-width: 479px) 100vw, 345px" srcset="/images/villa_mare-1-2-p-500.avif 500w, /images/villa_mare-1-2-p-800.avif 800w, /images/villa_mare-1-2-p-1080.avif 1080w, /images/villa_mare-1-2.avif 1792w" alt="Villa Mare, proyecto de Estudio Arquó" class="mobile_show_image_bg" />
      <div data-w-id="1acbc6f4-03b9-8609-7b29-cf5789da5879" class="mobile_show_image_wrapper"><img src="/images/Mobile-1_2.avif" loading="lazy" sizes="100vw" srcset="/images/Mobile-1_2-p-500.avif 500w, /images/Mobile-1_2-p-800.avif 800w, /images/Mobile-1_2.avif 988w" alt="Versión móvil de la web de Estudio Arquó" class="mobile_show_image is1" /><img src="/images/Mobile-2.avif" loading="lazy" sizes="180px" srcset="/images/Mobile-2-p-500.avif 500w, /images/Mobile-2-p-800.avif 800w, /images/Mobile-2.avif 987w" alt="Versión móvil de la web de Estudio Arquó" class="mobile_show_image is2" /><img src="/images/Mobile_2.avif" loading="lazy" sizes="180px" srcset="/images/Mobile_2-p-500.avif 500w, /images/Mobile_2-p-800.avif 800w, /images/Mobile_2.avif 985w" alt="Versión móvil de la web de Estudio Arquó" class="mobile_show_image is3" /></div>
    </div>
    <div class="description-2columns">
      <div class="description_2columns_wrapper">
        <div class="description_text_solucion u-desktop-25vw">
          <div class="u-vflex-left-top fade-in">
            <div class="description_title u-pad-botm-1"><img src="/images/diamond-white.svg" loading="lazy" alt="" class="description_title_image" />
              <div class="description_title_name">Pruebas de Usabilidad y Optimización Continua</div>
            </div>
            <div class="description_wrapper">
              <div class="description_paragraph">Implementamos pruebas para observar el comportamiento de los usuarios frente al formulario de cualificación. Ajustamos los textos introductorios (ej. <em>&quot;Necesitamos conocer bien tu proyecto para reunir al equipo adecuado...&quot;</em>) para que el requerimiento de información financiera se sintiera como un paso de consultoría premium y no como un interrogatorio, reduciendo así la tasa de abandono.</div>
            </div>
          </div>
        </div>
        <div class="description_image_solution u-desktop-50vw"><img src="/images/image-124.avif" loading="lazy" sizes="180px" srcset="/images/image-124-p-500.avif 500w, /images/image-124.avif 780w" alt="Versión móvil de la web de Estudio Arquó" class="description_image_solution_mobile is1" /><img src="/images/image-125.avif" loading="lazy" sizes="180px" srcset="/images/image-125-p-500.avif 500w, /images/image-125.avif 780w" alt="Versión móvil de la web de Estudio Arquó" class="description_image_solution_mobile is2" /></div>
      </div>
    </div>
    <div class="description-2columns">
      <div class="description_2columns_wrapper">
        <div class="description_image_solution u-desktop-50vw"><img src="/images/image-126.avif" loading="lazy" sizes="180px" srcset="/images/image-126-p-500.avif 500w, /images/image-126.avif 780w" alt="Versión móvil de la web de Estudio Arquó" class="description_image_solution_mobile is2" /><img src="/images/image-127.avif" loading="lazy" sizes="180px" srcset="/images/image-127-p-500.avif 500w, /images/image-127.avif 780w" alt="Versión móvil de la web de Estudio Arquó" class="description_image_solution_mobile" /></div>
        <div class="description_text_solucion u-desktop-25vw">
          <div class="u-vflex-left-top fade-in">
            <div class="description_title u-pad-botm-1"><img src="/images/diamond-white.svg" loading="lazy" alt="" class="description_title_image" />
              <div class="description_title_name">Iteración y Mejoras</div>
            </div>
            <div class="description_wrapper">
              <div class="description_paragraph">El proceso de diseño es siempre iterativo. Incorporamos feedback para afinar las transiciones entre páginas y el hover sobre las imágenes del portfolio. Así, logramos un &quot;socio creativo digital&quot; que no solo cumple con los objetivos estéticos, sino que filtra y atrae exactamente al cliente ideal.</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container-14 overflow-on">
      <div class="wysiwyg centered fade-in">Los números mandan</div>
      <h2 class="headline-big centered medium-spacing fade-in">Resultados</h2>
      <div data-w-id="41cadc1d-9e26-8126-5bc7-ac9e8a56cfff" class="kpi-card fade-in">
        <div class="wysiwyg--medium kpi-concept">Velocidad  de carga</div>
        <div class="kpi-number">+35%</div>
      </div>
      <div data-w-id="41cadc1d-9e26-8126-5bc7-ac9e8a56d004" class="kpi-card second fade-in">
        <div class="wysiwyg--medium kpi-concept">Conversión</div>
        <div class="kpi-number">+50%</div>
      </div>
      <div data-w-id="41cadc1d-9e26-8126-5bc7-ac9e8a56d009" class="kpi-card thirth fade-in">
        <div class="wysiwyg--medium kpi-concept">Facturación</div>
        <div class="kpi-number">+42%</div>
      </div>
    </div>
    <Footer />
  </div>
  <BottomNav />
</PortfolioLayout>
