---
import PortfolioLayout from '../layouts/PortfolioLayout.astro';
import Nav from '../components/Nav.astro';
import Footer from '../components/Footer.astro';
import BottomNav from '../components/BottomNav.astro';
---

<PortfolioLayout
  title="Proyectos"
  description="Product Designer y Nocode-Lover"
  ogImage="/images/Moises-portada.webp"
  bodyClass="bg-base-black"
>
  <Nav />
  <div class="proyectos-cascada hero-section">
    <div class="container-14">
      <h1 class="headline-big medium-width centered medium-spacing fade-in">Proyectos que he ayudado a crecer</h1>
      <a href="/estudioarquo" class="proyect-card__full large-spacing w-inline-block">
        <div class="img_wrapper _7-height"><img src="/images/visualelectric-4_1.jpg" loading="lazy" sizes="(max-width: 2816px) 100vw, 2816px" srcset="/images/visualelectric-4_1-p-500.jpg 500w, /images/visualelectric-4_1-p-800.jpg 800w, /images/visualelectric-4_1-p-1080.jpg 1080w, /images/visualelectric-4_1-p-1600.jpg 1600w, /images/visualelectric-4_1-p-2000.jpg 2000w, /images/visualelectric-4_1-p-2600.jpg 2600w, /images/visualelectric-4_1.jpg 2816w" alt="" class="image-project _7-height" /></div>
        <div class="container-7 fade-in">
          <div class="wysiwyg">Diseño + Desarrollo Web</div>
          <h4 class="project-title">Estudio Arquó</h4>
          <p class="project-subtitle">Arquitectura con alma<br /></p>
        </div>
      </a>
      <div data-w-id="c751f376-0ff5-d0e8-6714-e81a34eeb73c" class="proyect-row last-child">
        <a href="/akra-restaurante" class="proyect-card_6 margin_top_2 w-inline-block">
          <div class="img_wrapper size_6_6"><img src="/images/_uvs1j3vxv35zghkgnv0o_1.png" loading="lazy" sizes="(max-width: 1024px) 100vw, 1024px" srcset="/images/_uvs1j3vxv35zghkgnv0o_1-p-500.png 500w, /images/_uvs1j3vxv35zghkgnv0o_1-p-800.png 800w, /images/_uvs1j3vxv35zghkgnv0o_1.png 1024w" alt="" class="image-project size_6_6 fade-in" /></div>
          <div class="container-5 fade-in">
            <div class="wysiwyg">Diseño + Desarrollo Web</div>
            <h4 class="project-title">Akra restaurante</h4>
            <p class="project-subtitle">Restauración mediterránea<br /></p>
          </div>
        </a>
        <a href="#" class="proyect-card-5 no-margin-bottom w-inline-block">
          <div class="img_wrapper size5-4"><img src="/images/image-29_1.avif" loading="lazy" sizes="(max-width: 2600px) 100vw, 2600px" srcset="/images/image-29_1image%2029.avif 500w, /images/image-29_1image%2029.avif 800w, /images/image-29_1image%2029.avif 1080w, /images/image-29_1.avif 2600w" alt="" class="image-project fade-in" /></div>
          <div class="container-5 fade-in">
            <div class="wysiwyg">Landing page</div>
            <h4 class="project-title">Pure Higia</h4>
            <p class="project-subtitle">Servicio de limpieza de coches de lujo<br /></p>
          </div>
        </a>
      </div>
      <div data-w-id="c751f376-0ff5-d0e8-6714-e81a34eeb753" class="proyect-row">
        <a href="/huntingtallares" class="proyect-card_6 margin_top_2 w-inline-block">
          <div class="img_wrapper size_6_6"><img src="/images/caza_menor.jpg" loading="lazy" sizes="(max-width: 1440px) 100vw, 1440px" srcset="/images/caza_menor-p-500.jpg 500w, /images/caza_menor-p-800.jpg 800w, /images/caza_menor-p-1080.jpg 1080w, /images/caza_menor.jpg 1440w" alt="" class="image-project size_6_6 fade-in" /></div>
          <div class="container-5 fade-in">
            <div class="wysiwyg">Web marketing</div>
            <h4 class="project-title">Hunting Tallares</h4>
            <p class="project-subtitle">Referencia nacional caza<br /></p>
          </div>
        </a>
        <a href="/lulas-lulas" class="proyect-card-5 w-inline-block">
          <div class="img_wrapper size5-4"><img src="/images/collardoradolulas_1.avif" loading="lazy" sizes="(max-width: 990px) 100vw, 990px" srcset="/images/collardoradolulas_1collardoradolulas.avif 500w, /images/collardoradolulas_1.avif 990w" alt="" class="image-project fade-in" /></div>
          <div class="container-5 fade-in">
            <div class="wysiwyg">E-commerce</div>
            <h4 class="project-title">Lulas-Lulas</h4>
            <p class="project-subtitle">Joyería para mujer<br /></p>
          </div>
        </a>
      </div>
      <a data-w-id="c751f376-0ff5-d0e8-6714-e81a34eeb76a" href="/proyectos" aria-current="page" class="cta base__white centered w-inline-block w--current">
        <p class="wysiwyg cta-text dark__type">Ver proyectos</p>
        <div class="cta-circle"></div>
      </a>
    </div>
    <BottomNav />
  </div>
  <Footer />
  <BottomNav />
</PortfolioLayout>
